---
const {color, top ,left, rotate,img}  = Astro.props;
---

<div class="boxi" style={
    `background-color: ${color}; 
    top: ${top}; left: ${left};
    transform:  translate(-50%, -50%) 
    rotate(${rotate});`}>

   <img class="boxiImg" src={img} ></img>
</div>

<style>
    .boxi {
        position: absolute;
        width: 12vh;
        height: 12vh;
        border-radius: 50%;
        background-color: rgb(0, 157, 248);
        box-shadow: 
            inset -10px -10px 20px #832a2a69, 
            inset 10px 1px 20px #caf6ff91,
            0 0 50px #fff,
            -5px 0 10px rgb(110, 70, 255),
            5px 0 10px rgb(132, 255, 255);
        
    }
    .boxiImg{
        position: fixed;
        top: 50%;
        left: 50%;
        
        height: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
    }
</style>
